In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data_path = '../data/ignore/'
cpu_data = 'best_best_gpu.csv'
pd1 = pd.read_csv(data_path + cpu_data, dtype=str)

In [3]:
# name
name = pd1['Name'].astype(str)
name

0         FirePro M4170
1        FirePro W4130M
2        FirePro W4150M
3        FirePro W4170M
4        FirePro W4190M
             ...
628    GeForce GTX 980M
629          Jetson TK1
630        Quadro K100M
631        Quadro K200M
632       Quadro K2200M
Name: Name, Length: 633, dtype: object

In [4]:
# gpu name
gpu_name = pd1['GPU Name'].astype(str)
gpu_name

0       Opal
1       Mars
2       Mars
3       Opal
4       Opal
       ...
628    GM204
629    GK20A
630    GK107
631    GK107
632    GM107
Name: GPU Name, Length: 633, dtype: object

In [5]:
# architecture
architecture = pd1['Architecture'].astype(str)
architecture

0          GCN 1.0
1          GCN 1.0
2          GCN 1.0
3          GCN 1.0
4          GCN 1.0
          ...
628    Maxwell 2.0
629     Kepler 2.0
630         Kepler
631         Kepler
632        Maxwell
Name: Architecture, Length: 633, dtype: object

In [6]:
# foundry
foundry = pd1['Foundry'].astype(str)
foundry

0      TSMC
1      TSMC
2      TSMC
3      TSMC
4      TSMC
       ...
628    TSMC
629    TSMC
630    TSMC
631    TSMC
632    TSMC
Name: Foundry, Length: 633, dtype: object

In [7]:
# process size
process_size = pd1['Process Size'].astype(str)
process_size = process_size.str.extract(r'(\d+)', expand=False).astype(float)
process_size = process_size.rename('Process Size')
process_size

0      28.0
1      28.0
2      28.0
3      28.0
4      28.0
       ...
628    28.0
629    28.0
630    28.0
631    28.0
632    28.0
Name: Process Size, Length: 633, dtype: float64

In [8]:
# transistor count
transistor_count = pd1['Transistors'].astype(str)
transistor_count = transistor_count.str.replace(',', '.')
transistor_count = transistor_count.str.extract(r'(\d+\.?\d+)', expand=False).astype(float).apply(lambda x: x * 1e6)
transistor_count = transistor_count.rename('Transistor Count')
transistor_count

0      950000000.0
1      950000000.0
2      950000000.0
3      950000000.0
4      950000000.0
          ...
628      5200000.0
629            NaN
630      1270000.0
631      1270000.0
632      1870000.0
Name: Transistor Count, Length: 633, dtype: float64

In [9]:
# die size
die_size = pd1['Die Size'].astype(str)
die_size = die_size.str.extract(r'(\d+)', expand=False).astype(float)
die_size = die_size.rename('Die Size')
die_size

0       77.0
1       77.0
2       77.0
3       77.0
4       77.0
       ...
628    398.0
629      NaN
630    118.0
631    118.0
632    148.0
Name: Die Size, Length: 633, dtype: float64

In [10]:
import re

# Release date
release_date = pd1['Release Date'].astype(str)

MONTH = {'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6,
         'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}

out = release_date.copy()

for i in range(len(release_date)):
    row = release_date[i]
    res = row.split(' ')
    day = 1
    month = 1
    year = 2014
    flag = False
    if row == 'nan' or row == 'Never Released' or row == 'Unknown':
        out[i] = np.nan
        continue
    for element in res:
        if element.isdigit() and len(element) == 4:
            year = int(element)
        elif element.isalpha() and element.lower() in MONTH:
            month = MONTH[element.lower()]
        else:
            day = int(re.search(r'\d+', element).group())

    out[i] = pd.Timestamp(year, month, day)

release_date = out.rename('Release Date')
release_date

0      2015-04-23 00:00:00
1                      NaN
2                      NaN
3      2015-04-23 00:00:00
4      2015-11-12 00:00:00
              ...
628    2014-10-07 00:00:00
629    2014-10-15 00:00:00
630    2014-08-22 00:00:00
631    2014-08-22 00:00:00
632    2014-07-19 00:00:00
Name: Release Date, Length: 633, dtype: object

In [11]:
# generation
generation = pd1['Generation'].astype(str)
generation

0       FirePro Mobile
1       FirePro Mobile
2       FirePro Mobile
3       FirePro Mobile
4       FirePro Mobile
            ...
628       GeForce 900M
629              Tegra
630    Quadro Kepler-M
631    Quadro Kepler-M
632    Quadro Kepler-M
Name: Generation, Length: 633, dtype: object

In [12]:
# TODO: bus interface

In [13]:
# base clock
base_clock = pd1['Base Clock'].astype(str)
base_clock = base_clock.str.extract(r'(\d+)', expand=False).astype(float)
base_clock = base_clock.rename('Base Clock')
base_clock

0       825.0
1       775.0
2       800.0
3       825.0
4       825.0
        ...
628    1038.0
629     756.0
630     851.0
631     745.0
632    1150.0
Name: Base Clock, Length: 633, dtype: float64

In [14]:
# boost clock
boost_clock = pd1['Boost Clock'].astype(str)
boost_clock = boost_clock.str.extract(r'(\d+)', expand=False).astype(float)
boost_clock = boost_clock.rename('Boost Clock')
boost_clock

0       900.0
1       825.0
2       850.0
3       900.0
4       900.0
        ...
628    1127.0
629     951.0
630     851.0
631     745.0
632    1150.0
Name: Boost Clock, Length: 633, dtype: float64

In [15]:
# memory clock
memory_clock = pd1['Memory Clock'].astype(str)
memory_clock = memory_clock.str.extract(r'(\d+)', expand=False).astype(float)
memory_clock = memory_clock.rename('Memory Clock')
memory_clock

0      1000.0
1      1000.0
2      1000.0
3      1000.0
4      1000.0
        ...
628    1253.0
629     467.0
630     900.0
631     900.0
632    1253.0
Name: Memory Clock, Length: 633, dtype: float64

In [16]:
# memory size
memory_size = pd1['Memory Size'].astype(str)

for i in range(len(memory_size)):
    row = memory_size[i]
    if row == 'nan' or row == 'Unknown' or row == 'System Shared':
        memory_size[i] = np.nan
        continue
    res = row.split(' ')
    if res[-1].lower() == 'gb':
        memory_size[i] = float(res[0]) * 1024
    else:
        memory_size[i] = float(res[0])

memory_size = memory_size.rename('Memory Size')
memory_size

0      1024.0
1      1024.0
2      1024.0
3      2048.0
4      2048.0
        ...
628    8192.0
629    2048.0
630    2048.0
631    2048.0
632    2048.0
Name: Memory Size, Length: 633, dtype: object

In [17]:
# memory type
memory_type = pd1['Memory Type'].astype(str)
memory_type

0      GDDR5
1      GDDR5
2      GDDR5
3      GDDR5
4      GDDR5
       ...
628    GDDR5
629    DDR3L
630     DDR3
631     DDR3
632    GDDR5
Name: Memory Type, Length: 633, dtype: object

In [18]:
# memory bus
memory_bus = pd1['Memory Bus'].astype(str)
memory_bus = memory_bus.str.extract(r'(\d+)', expand=False).astype(float)
memory_bus = memory_bus.rename('Memory Bus')
memory_bus

0      128.0
1      128.0
2      128.0
3      128.0
4      128.0
       ...
628    256.0
629     64.0
630     64.0
631     64.0
632    128.0
Name: Memory Bus, Length: 633, dtype: float64

In [19]:
# memory bandwidth
memory_bandwidth = pd1['Bandwidth'].astype(str)

for i in range(len(memory_bandwidth)):
    row = memory_bandwidth[i]
    if row == 'nan' or row == 'Unknown' or row == 'System Dependent':
        memory_bandwidth[i] = np.nan
        continue
    res = row.split(' ')
    if res[-1].lower() == 'tb/s':
        memory_bandwidth[i] = float(res[0]) * 1024
    else:
        memory_bandwidth[i] = float(res[0])

memory_bandwidth = memory_bandwidth.rename('Memory Bandwidth')
memory_bandwidth

0       64.0
1       64.0
2       64.0
3       64.0
4       64.0
       ...
628    160.4
629    7.472
630     14.4
631     14.4
632    80.19
Name: Memory Bandwidth, Length: 633, dtype: object

In [20]:
# shading units
shading_units = pd1['Shading Units'].astype(str)
shading_units = shading_units.str.extract(r'(\d+)', expand=False).astype(float)
shading_units = shading_units.rename('Shading Units')
shading_units

0       384.0
1       384.0
2       384.0
3       384.0
4       384.0
        ...
628    1536.0
629     192.0
630     192.0
631     192.0
632     640.0
Name: Shading Units, Length: 633, dtype: float64

In [21]:
# TMUs
TMUs = pd1['TMUs'].astype(str)
TMUs = TMUs.str.extract(r'(\d+)', expand=False).astype(float)
TMUs = TMUs.rename('TMUs')
TMUs

0      24.0
1      24.0
2      24.0
3      24.0
4      24.0
       ...
628    96.0
629     8.0
630    16.0
631    16.0
632    40.0
Name: TMUs, Length: 633, dtype: float64

In [22]:
# ROPs
ROPs = pd1['ROPs'].astype(str)
ROPs = ROPs.str.extract(r'(\d+)', expand=False).astype(float)
ROPs = ROPs.rename('ROPs')
ROPs

0       8.0
1       8.0
2       8.0
3       8.0
4       8.0
       ...
628    64.0
629     4.0
630     8.0
631     8.0
632    16.0
Name: ROPs, Length: 633, dtype: float64

In [23]:
# compute units
compute_units = pd1['Compute Units'].astype(str)
compute_units = compute_units.str.extract(r'(\d+)', expand=False).astype(float)
compute_units = compute_units.rename('Compute Units')
compute_units

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
628    NaN
629    NaN
630    NaN
631    NaN
632    NaN
Name: Compute Units, Length: 633, dtype: float64

In [24]:
# l0 cache
l0_cache = pd1['L0 Cache'].astype(str)
l0_cache = l0_cache.str.extract(r'(\d+)', expand=False).astype(float)
l0_cache = l0_cache.rename('L0 Cache')
l0_cache

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
Name: L0 Cache, Length: 633, dtype: float64

In [25]:
# L1 cache
L1_cache = pd1['L1 Cache'].astype(str)
L1_cache = L1_cache.str.extract(r'(\d+)', expand=False).astype(float)
L1_cache = L1_cache.rename('L1 Cache')
L1_cache

0      16.0
1      16.0
2      16.0
3      16.0
4      16.0
       ...
628    48.0
629    16.0
630    16.0
631    16.0
632    64.0
Name: L1 Cache, Length: 633, dtype: float64

In [26]:
# L2 cache
L2_cache = pd1['L2 Cache'].astype(str)

for i in range(len(L2_cache)):
    row = L2_cache[i]
    if row == 'nan' or row == 'Unknown':
        L2_cache[i] = np.nan
        continue
    res = row.split(' ')
    if res[-1].lower() == 'kb':
        L2_cache[i] = float(res[0]) / 1024
    else:
        L2_cache[i] = float(res[0])

L2_cache = L2_cache.rename('L2 Cache').astype(float)
L2_cache

0      0.250
1      0.250
2      0.250
3      0.250
4      0.250
       ...
628    2.000
629    0.125
630    0.125
631    0.125
632    2.000
Name: L2 Cache, Length: 633, dtype: float64

In [27]:
# L3 cache
L3_cache = pd1['L3 Cache'].astype(str)
L3_cache = L3_cache.str.extract(r'(\d+)', expand=False).astype(float)
L3_cache = L3_cache.rename('L3 Cache')
L3_cache

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
Name: L3 Cache, Length: 633, dtype: float64

In [28]:
# pixel rate
pixel_rate = pd1['Pixel Rate'].astype(str)
pixel_rate = pixel_rate.str.extract(r'(\d+\.?\d+)', expand=False).astype(float)
pixel_rate = pixel_rate.rename('Pixel Rate')
pixel_rate

0       7.200
1       6.600
2       6.800
3       7.200
4       7.200
        ...
628    72.130
629     3.804
630     3.404
631     2.980
632    18.400
Name: Pixel Rate, Length: 633, dtype: float64

In [29]:
# texture rate
texture_rate = pd1['Texture Rate'].astype(str)
texture_rate = texture_rate.str.extract(r'(\d+\.?\d+)', expand=False).astype(float)
texture_rate = texture_rate.rename('Texture Rate')
texture_rate

0       21.600
1       19.800
2       20.400
3       21.600
4       21.600
        ...
628    108.200
629      7.608
630     13.620
631     11.920
632     46.000
Name: Texture Rate, Length: 633, dtype: float64

In [30]:
# floating point performance 32-bit
floating_point_performance_32 = pd1['FP32 (float)'].astype(str)

for i in range(len(floating_point_performance_32)):
    row = floating_point_performance_32[i]
    row = row.replace(',', '.')
    if row == 'nan' or row == 'Unknown':
        floating_point_performance_32[i] = np.nan
        continue
    res = row.split(' ')
    if res[-1].lower() == 'tflops':
        floating_point_performance_32[i] = float(res[0]) * 1000
    else:
        floating_point_performance_32[i] = float(res[0])

floating_point_performance_32 = floating_point_performance_32.rename('Floating Point Performance 32-bit')
floating_point_performance_32

0       691.2
1       633.6
2       652.8
3       691.2
4       691.2
        ...
628    3462.0
629     365.2
630     326.8
631     286.1
632     1.472
Name: Floating Point Performance 32-bit, Length: 633, dtype: object

In [31]:
# floating point performance 64-bit
floating_point_performance_64 = pd1['FP64 (double)'].astype(str)

for i in range(len(floating_point_performance_64)):
    row = floating_point_performance_64[i]
    row = row.replace(',', '.')
    if row == 'nan' or row == 'Unknown':
        floating_point_performance_64[i] = np.nan
        continue
    res = row.split(' ')
    if res[-1].lower() == 'tflops':
        floating_point_performance_64[i] = float(res[0]) * 1000
    else:
        floating_point_performance_64[i] = float(res[0])

floating_point_performance_64 = floating_point_performance_64.rename('Floating Point Performance 64-bit')
floating_point_performance_64

0       43.2
1        NaN
2        NaN
3       43.2
4       43.2
       ...
628    108.2
629    11.41
630    13.62
631    11.92
632     46.0
Name: Floating Point Performance 64-bit, Length: 633, dtype: object

In [32]:
# TDP
TDP = pd1['TDP'].astype(str)
TDP = TDP.str.extract(r'(\d+)', expand=False).astype(float)
TDP = TDP.rename('TDP')
TDP

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
628     NaN
629     8.0
630    35.0
631    35.0
632    65.0
Name: TDP, Length: 633, dtype: float64

In [33]:
# directx
directx = pd1['DirectX'].astype(str)
directx

0      12
1      12
2      12
3      12
4      12
       ..
628    12
629    12
630    12
631    12
632    12
Name: DirectX, Length: 633, dtype: object

In [34]:
# openGL
openGL = pd1['OpenGL'].astype(str)
openGL

0         4.6
1         4.6
2         4.6
3         4.6
4         4.6
        ...
628       4.6
629    ES 3.1
630       4.6
631       4.6
632       4.6
Name: OpenGL, Length: 633, dtype: object

In [35]:
# vulkan
vulkan = pd1['Vulkan'].astype(str)
vulkan

0      1.2.170
1      1.2.170
2      1.2.170
3      1.2.170
4      1.2.170
        ...
628        1.3
629        1.3
630    1.2.175
631    1.2.175
632        1.3
Name: Vulkan, Length: 633, dtype: object

In [36]:
# shader model
shader_model = pd1['Shader Model'].astype(str)
shader_model = shader_model.str.extract(r'(\d+)', expand=False).astype(float)
shader_model = shader_model.rename('Shader Model')
shader_model

0      6.0
1      6.0
2      6.0
3      6.0
4      6.0
      ...
628    6.0
629    6.0
630    6.0
631    6.0
632    6.0
Name: Shader Model, Length: 633, dtype: float64

In [37]:
# smm count
smm_count = pd1['SMM Count'].astype(str)
smm_count = smm_count.str.extract(r'(\d+)', expand=False).astype(float)
smm_count = smm_count.rename('SMM Count')
smm_count

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
628    12.0
629     NaN
630     NaN
631     NaN
632     5.0
Name: SMM Count, Length: 633, dtype: float64

In [38]:
# sm count
sm_count = pd1['SM Count'].astype(str)
sm_count = sm_count.str.extract(r'(\d+)', expand=False).astype(float)
sm_count = sm_count.rename('SM Count')
sm_count

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
Name: SM Count, Length: 633, dtype: float64

In [39]:
# tensor cores
tensor_cores = pd1['Tensor Cores'].astype(str)
tensor_cores = tensor_cores.str.extract(r'(\d+)', expand=False).astype(float)
tensor_cores = tensor_cores.rename('Tensor Cores')
tensor_cores

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
Name: Tensor Cores, Length: 633, dtype: float64

In [40]:
# RT cores
RT_cores = pd1['RT Cores'].astype(str)
RT_cores = RT_cores.str.extract(r'(\d+)', expand=False).astype(float)
RT_cores = RT_cores.rename('RT Cores')
RT_cores

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
628   NaN
629   NaN
630   NaN
631   NaN
632   NaN
Name: RT Cores, Length: 633, dtype: float64

In [41]:
col = [name, gpu_name, architecture, foundry, process_size, transistor_count, die_size, release_date, generation, base_clock, boost_clock, memory_clock, memory_size, memory_type, memory_bus, memory_bandwidth, shading_units, TMUs, ROPs, compute_units, l0_cache, L1_cache, L2_cache, L3_cache, pixel_rate, texture_rate, floating_point_performance_32, floating_point_performance_64, TDP, directx, openGL, vulkan, shader_model, smm_count, sm_count, tensor_cores, RT_cores]
df_out = pd.concat(col, axis=1)
df_out

,Name,GPU Name,Architecture,Foundry,Process Size,Transistor Count,Die Size,Release Date,Generation,Base Clock,...,Floating Point Performance 64-bit,TDP,DirectX,OpenGL,Vulkan,Shader Model,SMM Count,SM Count,Tensor Cores,RT Cores
0,FirePro M4170,Opal,GCN 1.0,TSMC,28.0,950000000.0,77.0,2015-04-23 00:00:00,FirePro Mobile,825.0,...,43.2,NaN,12,4.6,1.2.170,6.0,NaN,NaN,NaN,NaN
1,FirePro W4130M,Mars,GCN 1.0,TSMC,28.0,950000000.0,77.0,NaN,FirePro Mobile,775.0,...,NaN,NaN,12,4.6,1.2.170,6.0,NaN,NaN,NaN,NaN
2,FirePro W4150M,Mars,GCN 1.0,TSMC,28.0,950000000.0,77.0,NaN,FirePro Mobile,800.0,...,NaN,NaN,12,4.6,1.2.170,6.0,NaN,NaN,NaN,NaN
3,FirePro W4170M,Opal,GCN 1.0,TSMC,28.0,950000000.0,77.0,2015-04-23 00:00:00,FirePro Mobile,825.0,...,43.2,NaN,12,4.6,1.2.170,6.0,NaN,NaN,NaN,NaN
4,FirePro W4190M,Opal,GCN 1.0,TSMC,28.0,950000000.0,77.0,2015-11-12 00:00:00,FirePro Mobile,825.0,...,43.2,NaN,12,4.6,1.2.170,6.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,GeForce GTX 980M,GM204,Maxwell 2.0,TSMC,28.0,5200000.0,398.0,2014-10-07 00:00:00,GeForce 900M,1038.0,...,108.2,NaN,12,4.6,1.3,6.0,12.0,NaN,NaN,NaN
629,Jetson TK1,GK20A,Kepler 2.0,TSMC,28.0,NaN,NaN,2014-10-15 00:00:00,Tegra,756.0,...,11.41,8.0,12,ES 3.1,1.3,6.0,NaN,NaN,NaN,NaN
630,Quadro K100M,GK107,Kepler,TSMC,28.0,1270000.0,118.0,2014-08-22 00:00:00,Quadro Kepler-M,851.0,...,13.62,35.0,12,4.6,1.2.175,6.0,NaN,NaN,NaN,NaN
631,Quadro K200M,GK107,Kepler,TSMC,28.0,1270000.0,118.0,2014-08-22 00:00:00,Quadro Kepler-M,745.0,...,11.92,35.0,12,4.6,1.2.175,6.0,NaN,NaN,NaN,NaN
632,Quadro K2200M,GM107,Maxwell,TSMC,28.0,1870000.0,148.0,2014-07-19 00:00:00,Quadro Kepler-M,1150.0,...,46.0,65.0,12,4.6,1.3,6.0,5.0,NaN,NaN,NaN

In [42]:
df_out.to_csv(data_path + 'best_gpu_cleaned.csv', index=False)